<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Pass Authorization header to Node backend
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # SPA Fallback for client-side routing
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
